
// Colors
$tintColor: #109CF6;
$textColor: #2A2C4D;
$lightTintColor: #EFF6FA;
$separatorColor: #ebebeb;
$backgroundColor: #ffffff;

$footerBackgroundColor: #fafafa;
$footerText1Color: #555555;
$footerText2Color: #919196;

// Sizes
$navbarHeight: 4rem;
$sidebarWidth: 20rem;
$sidebarSmallerWidth: 16rem;

// Screen sizes
$SmallDesktopSize: 920px;
$TabletSize: 768px;
$MobileSize: 480px;
